<div class="card-container card-container-outer">
  <div class="card-container card-container-vertical">
    <div class="card-content card-text-only">
      <p>A family run small holding since the 1840s, Bono Estate EV olive oil has long been farmed, harvested and pressed the traditional way.</p>
      <p>Passed from Great-Grandmother Nicolosi through the generations, Salvatore now sits at the farm’s helm.</p>
      <p>For more than five decades he has intuitively nurtured his veteran trees in Salinella, in the wilds of South-West Sicily.</p>
      <p>With unwavering support from sons Rino and Gianluca, head chef and sommelier in London, this modest family operation now supplies some of the UK’s highest regarded restaurant kitchens and dining rooms.</p>
      <p>A blend of three varieties of Sicilian olives gives Bono Estate Oil its distinctive peppery flavour.</p>
    </div>
    <div class="card-container card-container-horizontal">
      <figure class="card-content card-img-with-caption">
        <%= image_tag "harvested.jpg", alt: "Harvested olives", class:"img-portrait" %>
        <figcaption class="caption-text">Harvested olives</figcaption>
      </figure>
    </div>
  </div>
  <div class="card-container card-container-vertical">
    <div class="card-container card-container-horizontal">
      <figure class="card-content card-img-with-caption">
        <%= image_tag "great-grandmother-nicolosi.jpg", alt: "Great Grandmother Nicolosi", class:"img-portrait" %>
        <figcaption class="caption-text">Great Grandmother Nicolosi</figcaption>
      </figure>
      <figure class="card-content card-img-with-caption">
        <%= image_tag "salvatore.jpg", alt: "Salvatore Bono", class:"img-portrait" %>
        <figcaption class="caption-text">Salvatore Bono</figcaption>
      </figure>
    </div>
    <figure class="card-content card-img-with-caption">
      <%= image_tag "rino-vista.jpg", alt: "Rino Bono", class:"img-landscape" %>
      <figcaption class="caption-text">Rino Bono surveying the vista</figcaption>
    </figure>
    <figure class="card-content card-img-with-caption">
      <%= image_tag "gianluca.jpg", alt: "Gianluca Bono", class:"img-landscape" %>
      <figcaption class="caption-text">Gianluca Bono</figcaption>
    </figure>
    <div class="card-container card-container-horizontal">
      <figure class="card-content card-img-with-caption">
        <%= image_tag "mattea.jpg", alt: "Mattea Bono", class:"img-portrait" %>
        <figcaption class="caption-text">Mattea Bono doing his part</figcaption>
      </figure>
      <figure class="card-content card-img-with-caption">
        <%= image_tag "rino-harvesting.jpg", alt: "Rino Bono harvesting", class:"img-portrait" %>
        <figcaption class="caption-text">Rino Bono harvesting</figcaption>
      </figure>
    </div>
  </div>
</div>
